* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.42);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(157, 157, 157, 0.52);
  border-radius: 10px;
}

.App {
  font-family: Arial, serif;
  overflow-x: hidden;
  height: 100vh;
  color: #fff;
  display: grid;
  background-color: #262626;

  grid-template-areas:
    "header header header"
    "nav main main";

  grid-template-rows: 62px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 7px;
}

main {
  padding-right: 9px;
  grid-area: main;
}

/*--------Other-Global-styles----------*/
.center {
  text-align: center;
  margin: 2rem 0;
}

.preloader {
  height: 30px;
  width: 200px;
  margin: 1rem auto;
}

/*---------reset-----------------------*/
button {
  cursor: pointer;
  border: 0;
  background-color: initial;
}